$fg-primary: #f8f9e8;
$disabled: #666666;
$bg-primary: #171c1f;
$bg-secondary: #292c2f;
$radius: 10px;

* {
  all: unset;
  font-family: "Ubuntu Nerd Font";
  color: $fg-primary;
}

.statusbar {
  background-color: $bg-primary;
  padding: 4px 10px;

  .workspaces {
    padding: 10px;
    background-color: $bg-secondary;
    border-radius: 30px;
  }

  .workspaceButton {
    background-color: $disabled;
    min-height: 6px;
    min-width: 8px;
    border-radius: $radius;
    transition: all ease 0.3s;

    &.active {
      min-width: 30px;
      background-color: $fg-primary;
    }

    &.occupied {
      background-color: $fg-primary;
    }
  }
}


.clock {
  .date {
    font-family: "Ubuntu";
    font-size: 24px;
  }

  .time {
    font-family: "Ubuntu";
    font-size: 86px;
  }
}

.border {
  border: 10px solid $bg-primary;
}


.powermenu {
  background-color: $bg-primary;
  border-radius: $radius;
}
