snippet @base
  <template>${1}</template>

  <script setup lang="ts"></script>

  <style scoped lang="scss"></style>

snippet @script
  <script setup lang="ts">${1}</script>

snippet @style
  <style scoped lang="scss">${1}</style>
